@page
@model Group7_SE1733_A01_FE.Pages.SystemAccount.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<form method="get">

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">AccountName</label>
                <input id="AccountName" type="text" name="AccountName" class="form-control" value="@Request.Query["AccountName"]" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">AccountEmail</label>
                <input id="AccountEmail" type="text" name="AccountEmail" class="form-control" value="@Request.Query["AccountEmail"]" />

            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Sort By AccountName</label>
                <button class="form-control w-50 bg-info" type="submit" name="IsSortDescByAccountName" value="@(Request.Query["IsSortDescByAccountName"] == "true"  ? "false" : "true")">
                    @if (bool.TryParse(Request.Query["IsSortDescByAccountName"], out bool isSortDescByAccountNameId) && isSortDescByAccountNameId)
                    {
                        <span>&#8595;  &nbsp; Desc</span>
                    }
                    else
                    {
                        <span>&#8593; &nbsp; Asc</span>
                    }
                </button>
            </div>
        </div>

        <div class="col-md-3 mt-4">
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-success" />
                <a class="btn  btn-primary " asp-page="Create">Create New</a>
            </div>
        </div>
    </div>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SystemAccount[0].AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemAccount[0].AccountEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemAccount[0].AccountRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SystemAccount[0].AccountPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="idTBody">

        @if (Model.SystemAccount != null && Model.SystemAccount.Count > 0)
        {

            foreach (var item in Model.SystemAccount)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountRole)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountPassword)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.AccountId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
                    </td>
                </tr>
            }
        }
        }else{
        <tr>
            <td colspan="5" class="text-center">No records found</td>
            }

    </tbody>
</table>
@section Scripts {

    <script src="~/js/paging.js"></script>
}